
._content_{
  background-color: var(--secondary-3--);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card{
  background-color: var(--secondary-2--);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0;
  max-width: 500px;
}

.gap{
  margin-bottom: 25px;
}

.title{
  color: var(--primary-accent--);
  font-family: monospace !important;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 14px;
}
.content{
  color: var(--primary-text--);
  font-size: 24px;
  font-family: var(--font--);
  text-align: center;
}

.dice{
  height: 50px;
  width: 50px;
  position: relative;
  top:25px;
  border-radius: 100%;
  border: none;
  background-color: var(--primary-accent--);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;

  /*Dice hover animation*/
  transition: .4s box-shadow ease-out;
}

.dice:hover{
  box-shadow: var(--primary-accent--) 0px 0px 20px;
}

